<!--li><a href="{{ site.baseurl }}/angebote/" class="nav-item">Veranstaltungen</a></li-->
<li><a href="{{ site.baseurl }}/timetable/" class="nav-item">Zeitplan</a></li>
<li><a href="https://coco.study/kurse/310-developing-things-1/trustable-apps/" class="nav-item">Trustable Appliactions</a></li>
<li><a href="https://www.medieninformatik.th-koeln.de/study/master/moduls/ma_modul_projekt_visionkonzept/" class="nav-item">Vision und Konzept</a></li>
<li><a href="{{ site.baseurl }}/abgabe-und-bewertung/" class="nav-item">Abgabe und Bewertung</a></li>
<li><a href="{{ site.baseurl }}/projekte/" class="nav-item">Vergangene Projekte</a></li>
